SKY_ALPHA_APP_ENV=dev
SKY_ALPHA_APP_VERSION=0.1.0

SKY_ALPHA_DATABASE_HOST=127.0.0.1
SKY_ALPHA_DATABASE_PORT=5432
SKY_ALPHA_DATABASE_USER=postgres
SKY_ALPHA_DATABASE_PASSWORD=postgres
SKY_ALPHA_DATABASE_NAME=sky_alpha_pro
SKY_ALPHA_DATABASE_SSLMODE=disable
SKY_ALPHA_DATABASE_TIMEZONE=UTC

SKY_ALPHA_LOG_LEVEL=info
SKY_ALPHA_LOG_ENCODING=console
